body{
  background-color: #6CC2BD;
}
.App{
  background-color: #F67E7D;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
}
#to-do input{
  background-color:whitesmoke;
  border: 0;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size:18px;
  border-radius: 5px;
  color: grey;
}
#to-do input::placeholder{
  color: grey;
  font-size: large;
  text-align: center;
}
#to-do input:focus{
  outline: none;
}
#to-do button{
  height: 50px;
  width: 80px;
  border-radius: 10px;
  border: 0;
  background-color: #78769C;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}
#to-do button:focus{
  outline: none;
}
#to-do button:hover {
  background-color: #52C6CD;
}

.list{
  margin: 10px;
  padding: 10px;
  background-color: #f1e470;
  border-radius: 5px;
  text-align: center;
  color:gray;
  

}