body{
  background-color: #FFF;
}
.header{
  padding: 10px;
  margin: -10px;
  text-align: center;
  color: #FF4F00;
}
.App{
  background-color: #FFF;
  min-height: 500px ;
  width: 400px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 1px 0px 3px  gray ;
}
#to-do input{
  background-color:whitesmoke;
  border: 0;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size:18px;
  border-radius: 5px;
  color: grey;
}
#to-do input::placeholder{
  color: grey;
  font-size: large;
  text-align: center;
}
#to-do input:focus{
  outline: none;
}
#to-do button{
  height: 50px;
  width: 80px;
  border-radius: 10px;
  border: 0;
  background-color: #FF4F00;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}
#to-do button:focus{
  outline: none;
}
#to-do button:hover {
  background-color: #FFA300;
}

.list{
  height: 40px;
  color: #FF4F00;
  margin: 13px;
  padding: 2px;
  background-color: #fff;
  border-radius: 200px;
  text-align: left;
   border: 2px #FFA300 solid;
   box-shadow: 0  0.1rem .3rem  gray;
  }
.list p{
  padding: 10px;
  position: relative;
  color: #FF4F00;
}
.list p span{
  position: absolute;
  right: 10px;
}
.list p span:hover{
  color: #FFA300;
}
.faicons{
  font-size: larger;
}